@import "jeet"
@import "rupture"
@import url('https://fonts.googleapis.com/css?family=Revalia|Ubuntu')


*
  box-sizing: border-box
  position: relative

body
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2980b9 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2980b9 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.container
  margin: 10vh
  center(960px)
  height: 90vh
  background: black
  border-radius: 10px
.content
   column(9/10)
   height: 100%
   +below(600px)
       column(8/10)
.menu
  column(1/10)
  background: black
  box-shadow: 24px 0px 44px 0px rgba(0,0,0,0.75)
  height: 100%
  +below(600px)
      column(2/10)
  .menuItem
    cursor: pointer
    column(1)
    font-size: 2em
    text-align: center
    color white
    height: 60px
    transition: all 1s
    margin-top: 10px
    i
      margin-top 10px
    &::before
      content: ''
      width: 8px
      background: white
      position: absolute
      height: 0px
      left 0
      transition: all 1s
      +below(600px)
          width: 4px
  .menuItem:hover
  .menuActive
    background: maroon
    &::before
      height: 60px

  .menuItem:first-of-type
     margin-top: 0px
.model
  position absolute
  left 0
  height 100%
  background gray
  z-index 1
  box-shadow: 49px 24px 137px 2px maroon
.modelData
  column(1)
  height 100%
.seasonlist
  stack()
  border-bottom 2px solid maroon
  h1
    stack()
    text-align center
    font-family Revalia
    color $purple
    font-size 1.5em
    padding 0
  ul
    inline-list()
    font-family Ubuntu
    margin 0
    li
      position relative
      text-transform uppercase
      cursor pointer
      padding 2px
      margin 5px
      background gray
      border-radius 5px
      transition all 1s
      z-index 0
      &:hover
        background $maroon
        z-index 1
        color white
        &:before
          opacity 0.7
          width 100%
      &:before
        width 0%
        height 100%
        content ''
        background maroon
        position absolute
        transition width 1s
        opacity 0.7
        top 0
        left 0
        border-radius 10px

.seasonsubmit
  stack()
  text-align center
  h1
    glossy-button: orange 18 white

  height 10%
